[submodule "vendor/dom-TreeWalker-polyfill"]
	path = vendor/dom-TreeWalker-polyfill
	url = https://github.com/Krinkle/dom-TreeWalker-polyfill.git
[submodule "vendor/makerstrap"]
	path = vendor/makerstrap
	url = https://github.com/mozilla/makerstrap.git
[submodule "vendor/EventTarget.addEventListener"]
	path = vendor/EventTarget.addEventListener
	url = https://gist.github.com/6762206.git
[submodule "vendor/html5-dataset"]
	path = vendor/html5-dataset
	url = https://github.com/adalgiso/html5-dataset.git
