@import url('vendor/makerstrap/makerstrap.complete.min.css');

#transifexifyDocument {
	margin-left: 30%;
}

#transifexify {
	width: 30%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #e3eaee;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px;
	z-index: 9999;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#transifexify .navbar {
	border-radius: 0;
	margin: -20px -20px 20px -20px;
}

#transifexifyForm {
	margin-bottom: 20px;
}